<% if @containers.any? %>
  <table class="table">
    <thead>
      <th>#</th>
      <th>Name</th>
      <th>Image</th>
      <th>Cmd</th>
      <th>Ports</th>
      <th>Status</th>
      <th>Exit Code</th>
      <th>Restart</th>
      <th>Destroy</th>
      <th>Info</th>
    </thead>
    <tbody>
      <% row = 0 %>
      <% @containers.each do |c| %>
        <% row += 1 %>
        <tr class="<%= @name == c.name ? 'info' : '' %>" id="<%= c.name %>" >
          <td><%= row %></td>
          <td class="name">
            <%= c.name %>
          </td>
          <td class="image">
            <%= c.data['Config']['Image'] %>
          </td>
          <td class="cmd">
            <%= c.data['Config']['Cmd'].join(", ") %>
          </td>
          <td class="ports">
            <%= c.data['Config']['ExposedPorts'].map {|k,v| k }.join(", ") %>
          </td>
          <td class="status">
            <%= c.status %>
          </td>
          <td class="exit">
            <%= c.data['State']['ExitCode'] %>
          </td>
          <td class="restart">
            <a href="/restart/<%= c.id %>"><i class="mdi-action-autorenew"></i></a>
          </td>
          <td class="controls">
            <a href="/destroy/<%= c.id %>"><i class="mdi-navigation-cancel"></i></a>
          </td>
          <td>
            <a href="/info/<%= c.id %>"><i class="mdi-action-info"></i></a>
          </td>
          <td class="id hidden">
            <span><%= c.id %></span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <a class="btn btn-primary" href="/create">Start a new container</a>
<% end %>
